:root {
    /*usage => color: var(--nomVar); */
    --listOfUsers-head-table: #4CAF50;
    --listOfAnnouncements-head-table: rgb(48, 216, 228);
}

/* Header menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

.active {
	color:#fff;
  background-color: #111;
}

/* Page Index */
table, td, th {
  border: 1px solid black;
  margin: 0 auto;
}

#users, #announcement {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users tr:nth-child(even){background-color: #f2f2f2;}
#users tr:hover {background-color: #ddd;}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--listOfUsers-head-table);
  color: white;
}

#announcement tr:nth-child(even){background-color: #f2f2f2;}
#announcement tr:hover {background-color: #ddd;}

#announcement th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--listOfAnnouncements-head-table);
    color: black;
}

/* Page Utilisateurs */
.individual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: black 1px dashed;
}